@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font: normal 18px 'Poppins', sans-serif;
}

body {
    background: #b4ced9;
}

header {
    color: #202d73;
}

section {
    background: white;
    border-radius: 10px;
    padding: 10px 4%;
    margin: auto;
    width: 850px;
    text-align: justify;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.404);
}

footer {
    color: white;
    text-align: center;
    background-color: #021373;
    padding: 5px 0px;
    margin: 10px 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.253);
}

footer p {
    font-size: 16px;
}

h1 {
    padding: 20px;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.253);
}

h2 {
    color: #021373;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.205);
}

input {
    margin: 10px;
    font-size: 16px;
}

input#contar {
    padding: 1px;
    height: 30px;
    width: 70px;
    margin: 15px 0px;
}