@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: justify;
}

body {
    background-color: azure;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

h2 {
    padding: 5px;
    margin: 5px;
}

div#area {
    background: #42aa52;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 24px;
}

p, div {
    padding: 10px;
}

input {
    width: 100px;
    padding: 10px;
    margin: 0 10px;
    text-align: center;
    font-size: 17px;
    border-radius: 10px;
}